test/fixtures/wsdls/europepmc.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.cdb.ebi.ac.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.cdb.ebi.ac.uk/" name="WSCitationImplService">
<types>
<xsd:schema>
<xsd:import namespace="https://www.europepmc.org/data" schemaLocation="https://www.ebi.ac.uk:443/europepmc/webservices/soap?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.scholix.org" schemaLocation="https://www.ebi.ac.uk:443/europepmc/webservices/soap?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservice.cdb.ebi.ac.uk/" schemaLocation="https://www.ebi.ac.uk:443/europepmc/webservices/soap?xsd=3"/>
</xsd:schema>
</types>
<message name="searchPublications">
<part name="parameters" element="tns:searchPublications"/>
</message>
<message name="searchPublicationsResponse">
<part name="parameters" element="tns:searchPublicationsResponse"/>
</message>
<message name="QueryException">
<part name="fault" element="tns:QueryException"/>
</message>
<message name="profilePublications">
<part name="parameters" element="tns:profilePublications"/>
</message>
<message name="profilePublicationsResponse">
<part name="parameters" element="tns:profilePublicationsResponse"/>
</message>
<message name="getCitations">
<part name="parameters" element="tns:getCitations"/>
</message>
<message name="getCitationsResponse">
<part name="parameters" element="tns:getCitationsResponse"/>
</message>
<message name="getReferences">
<part name="parameters" element="tns:getReferences"/>
</message>
<message name="getReferencesResponse">
<part name="parameters" element="tns:getReferencesResponse"/>
</message>
<message name="getTextMinedTerms">
<part name="parameters" element="tns:getTextMinedTerms"/>
</message>
<message name="getTextMinedTermsResponse">
<part name="parameters" element="tns:getTextMinedTermsResponse"/>
</message>
<message name="getDatabaseLinks">
<part name="parameters" element="tns:getDatabaseLinks"/>
</message>
<message name="getDatabaseLinksResponse">
<part name="parameters" element="tns:getDatabaseLinksResponse"/>
</message>
<message name="getSupplementaryFiles">
<part name="parameters" element="tns:getSupplementaryFiles"/>
</message>
<message name="getSupplementaryFilesResponse">
<part name="parameters" element="tns:getSupplementaryFilesResponse"/>
</message>
<message name="getFulltextXML">
<part name="parameters" element="tns:getFulltextXML"/>
</message>
<message name="getFulltextXMLResponse">
<part name="parameters" element="tns:getFulltextXMLResponse"/>
</message>
<message name="getBookXML">
<part name="parameters" element="tns:getBookXML"/>
</message>
<message name="getBookXMLResponse">
<part name="parameters" element="tns:getBookXMLResponse"/>
</message>
<message name="listSearchFields">
<part name="parameters" element="tns:listSearchFields"/>
</message>
<message name="listSearchFieldsResponse">
<part name="parameters" element="tns:listSearchFieldsResponse"/>
</message>
<message name="getLabsLinks">
<part name="parameters" element="tns:getLabsLinks"/>
</message>
<message name="getLabsLinksResponse">
<part name="parameters" element="tns:getLabsLinksResponse"/>
</message>
<message name="getDataLinks">
<part name="parameters" element="tns:getDataLinks"/>
</message>
<message name="getDataLinksResponse">
<part name="parameters" element="tns:getDataLinksResponse"/>
</message>
<portType name="WSCitationImpl">
<operation name="searchPublications">
<input wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/searchPublicationsRequest" message="tns:searchPublications"/>
<output wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/searchPublicationsResponse" message="tns:searchPublicationsResponse"/>
<fault message="tns:QueryException" name="QueryException" wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/searchPublications/Fault/QueryException"/>
</operation>
<operation name="profilePublications">
<input wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/profilePublicationsRequest" message="tns:profilePublications"/>
<output wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/profilePublicationsResponse" message="tns:profilePublicationsResponse"/>
<fault message="tns:QueryException" name="QueryException" wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/profilePublications/Fault/QueryException"/>
</operation>
<operation name="getCitations">
<input wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getCitationsRequest" message="tns:getCitations"/>
<output wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getCitationsResponse" message="tns:getCitationsResponse"/>
<fault message="tns:QueryException" name="QueryException" wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getCitations/Fault/QueryException"/>
</operation>
<operation name="getReferences">
<input wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getReferencesRequest" message="tns:getReferences"/>
<output wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getReferencesResponse" message="tns:getReferencesResponse"/>
<fault message="tns:QueryException" name="QueryException" wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getReferences/Fault/QueryException"/>
</operation>
<operation name="getTextMinedTerms">
<input wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getTextMinedTermsRequest" message="tns:getTextMinedTerms"/>
<output wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getTextMinedTermsResponse" message="tns:getTextMinedTermsResponse"/>
<fault message="tns:QueryException" name="QueryException" wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getTextMinedTerms/Fault/QueryException"/>
</operation>
<operation name="getDatabaseLinks">
<input wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getDatabaseLinksRequest" message="tns:getDatabaseLinks"/>
<output wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getDatabaseLinksResponse" message="tns:getDatabaseLinksResponse"/>
<fault message="tns:QueryException" name="QueryException" wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getDatabaseLinks/Fault/QueryException"/>
</operation>
<operation name="getSupplementaryFiles">
<input wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getSupplementaryFilesRequest" message="tns:getSupplementaryFiles"/>
<output wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getSupplementaryFilesResponse" message="tns:getSupplementaryFilesResponse"/>
<fault message="tns:QueryException" name="QueryException" wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getSupplementaryFiles/Fault/QueryException"/>
</operation>
<operation name="getFulltextXML">
<input wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getFulltextXMLRequest" message="tns:getFulltextXML"/>
<output wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getFulltextXMLResponse" message="tns:getFulltextXMLResponse"/>
<fault message="tns:QueryException" name="QueryException" wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getFulltextXML/Fault/QueryException"/>
</operation>
<operation name="getBookXML">
<input wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getBookXMLRequest" message="tns:getBookXML"/>
<output wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getBookXMLResponse" message="tns:getBookXMLResponse"/>
<fault message="tns:QueryException" name="QueryException" wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getBookXML/Fault/QueryException"/>
</operation>
<operation name="listSearchFields">
<input wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/listSearchFieldsRequest" message="tns:listSearchFields"/>
<output wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/listSearchFieldsResponse" message="tns:listSearchFieldsResponse"/>
<fault message="tns:QueryException" name="QueryException" wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/listSearchFields/Fault/QueryException"/>
</operation>
<operation name="getLabsLinks">
<input wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getLabsLinksRequest" message="tns:getLabsLinks"/>
<output wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getLabsLinksResponse" message="tns:getLabsLinksResponse"/>
<fault message="tns:QueryException" name="QueryException" wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getLabsLinks/Fault/QueryException"/>
</operation>
<operation name="getDataLinks">
<input wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getDataLinksRequest" message="tns:getDataLinks"/>
<output wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getDataLinksResponse" message="tns:getDataLinksResponse"/>
<fault message="tns:QueryException" name="QueryException" wsam:Action="http://webservice.cdb.ebi.ac.uk/WSCitationImpl/getDataLinks/Fault/QueryException"/>
</operation>
</portType>
<binding name="WSCitationImplPortBinding" type="tns:WSCitationImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchPublications">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="QueryException">
<soap:fault name="QueryException" use="literal"/>
</fault>
</operation>
<operation name="profilePublications">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="QueryException">
<soap:fault name="QueryException" use="literal"/>
</fault>
</operation>
<operation name="getCitations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="QueryException">
<soap:fault name="QueryException" use="literal"/>
</fault>
</operation>
<operation name="getReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="QueryException">
<soap:fault name="QueryException" use="literal"/>
</fault>
</operation>
<operation name="getTextMinedTerms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="QueryException">
<soap:fault name="QueryException" use="literal"/>
</fault>
</operation>
<operation name="getDatabaseLinks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="QueryException">
<soap:fault name="QueryException" use="literal"/>
</fault>
</operation>
<operation name="getSupplementaryFiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="QueryException">
<soap:fault name="QueryException" use="literal"/>
</fault>
</operation>
<operation name="getFulltextXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="QueryException">
<soap:fault name="QueryException" use="literal"/>
</fault>
</operation>
<operation name="getBookXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="QueryException">
<soap:fault name="QueryException" use="literal"/>
</fault>
</operation>
<operation name="listSearchFields">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="QueryException">
<soap:fault name="QueryException" use="literal"/>
</fault>
</operation>
<operation name="getLabsLinks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="QueryException">
<soap:fault name="QueryException" use="literal"/>
</fault>
</operation>
<operation name="getDataLinks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="QueryException">
<soap:fault name="QueryException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WSCitationImplService">
<port name="WSCitationImplPort" binding="tns:WSCitationImplPortBinding">
<soap:address location="https://www.ebi.ac.uk:443/europepmc/webservices/soap"/>
</port>
</service>
</definitions>